@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

.fa {
  color: #ddd;
}
.info {
  padding-top: 0.76rem;
  padding-left: 0.7rem;
  transition: all 0.3s ease-in-out;
}
.info:hover {
  color: rgb(178, 178, 178);
  cursor: pointer;
}

.card__container {
  display: flex;
  height: 100px;
  width: 320px;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 1.5px;
  border: 1px solid rgb(171, 171, 171);
}
/* .card__left {
  flex-direction: column;
} */
.card__flex-left {
  display: flex;
  flex-direction: row;
}
.card__left-title {
  color: black;
  font-size: 14px;
  padding-left: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
.card__left-status {
  color: grey;
  font-size: 13px;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  margin-top: 0rem;
}

/* .card__right {
} */
/* .card__right-status {
} */
.circle {
  color: green;
  padding-top: 0.9rem;
  padding-right: 1rem;
}
