@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

.content__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #1d293a;
}
.content {
  display: flex;
  flex-direction: column;
}
.content__banner {
  width: 70vw;
  height: 120px;
  background-color: green;
  color: white;
}
/* .check {
} */
.content__header {
  font-size: 26px;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  /* text-decoration: underline; */
}
.content__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
}
