@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Universal styling */
.active {
  text-decoration: underline;
  color: #ffd90b;
}

nav {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.navbar__links-left {
  font-family: "Roboto", sans-serif;
}

.navbar__links-right {
  font-family: "Roboto", sans-serif;
}

.navbar__links {
  padding-right: 24px;
  padding-top: 10px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  cursor: pointer;
  color: #ffd90b;
}
